
 .scienceForm{
    border-radius: 18px;
    padding: 20px;
}  

.divQuestion{
    background-color: white;
    width: 80%;
    border-radius: 18px;
    padding: 20px;
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #613289;
} 

.question{
    font-size: x-large;
    font-weight: 700;
}
.title{
    color:  #613289;
    font-size: xx-large;
    font-weight: 800;
}
.mark {
  background: #613289;
  width: 16%;
  padding: 10px 15%;
  border-radius: 18px;
  color: white;
  align-content: center;
  display: flex;
  font-size: xx-large;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
